name: Deploy Subgraph to DAO QA

on:
  push:
    branches:
      - main
  workflow_dispatch: # Manually triggered from GitHub Actions tab

# Declare default permissions as read only.
permissions: read-all

jobs:
  deploy:
    uses: ./.github/workflows/deploy-template.yml
    with:
      environment: dao-qa
      subgraphId: rootstockcollective-governance-dao-qa
      networkName: rootstock-testnet
      graphUrl: https://api.studio.thegraph.com/deploy/
      environmentName: dao-qa
    secrets: inherit

